@import "@stews/styles/layout";
@import "@stews/styles/theme";

.buttonContainer {
  @extend .columnContainer;
  width: 0;
  flex-grow: 1;
  max-width: fit-content;
  align-items: stretch;
  border-bottom: $themeBorder;
  border-bottom-width: 2px;
}

.selectButton {
  @extend .rowContainer;
  align-items: center;
  padding-inline: calc(1 / 2) * $themeSpacer;
}

.buttonLabel {
  @extend .textEllipsis;
  padding-inline-end: calc(5 / 4) * $themeSpacer;
  font-weight: 700;
  font-size: 24px;
  font-style: italic;
}

.iconContainer {
  @extend .itemContainer;
}

.selectIcon {
  width: 16px;
  height: 16px;
}

.dropdownPolygon {
  stroke: black;
  stroke-width: 0.085;
  stroke-linejoin: round;
  fill: transparent;
}
