@import "@stews/styles/layout";
@import "@stews/styles/theme";

.divBase {
  @extend .defaultBoxModel;
  @extend .defaultLayout;
  @extend .defaultFont;
}

.buttonBase {  
  @extend .defaultBoxModel;  
  @extend .defaultLayout;
  @extend .defaultFont;
  background: none;
  outline: none;
  cursor: pointer;
  user-select: none;  
}