@import "@stews/styles/layout";
@import "@stews/styles/theme";

.curatorButton {
}

.curatorIcon {  
  width: 33px;
  height: 33px;
}

.profileContainer {
  @extend .columnContainer;
  overflow: hidden;
  padding-inline-start: $themeSpacer;
  padding-inline-end: calc(3 / 4) * $themeSpacer;
  padding-block-start: calc(3 / 8) * $themeSpacer;
  padding-block-end: calc(9 / 8) * $themeSpacer;
}

.profileHeader {
  @extend .rowContainer;
  align-items: center;
}

.curatorName {
  @extend .textEllipsis;
  flex-grow: 1;
  padding-inline-end: 3 * $themeSpacer;
  font-weight: 700;
  font-size: 23px,
}

.closeButtonContainer {
  @extend .itemContainer;
  align-items: center;
  justify-content: center;
}

.closeButton {
  @extend .itemContainer;
  padding: 0.00rem;  
}

.closeIcon {
  // width: 25px;
  // height: 25px;
}

.curatorLocation {
  @extend .textEllipsis;
  padding-block-start: calc(1 / 8) * $themeSpacer;
  padding-inline-end: 6 * $themeSpacer;  
  font-size: 14px;
}

.curatorStatus {
  padding-block-start: calc(3 / 4) * $themeSpacer;
  padding-inline-end: 6 * $themeSpacer;  
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
  hyphens: auto;
}

.curatorLinks {
  @extend .rowContainer;
  padding-block-start: calc(11 / 8) * $themeSpacer;
}

.linkContainer {
  padding-inline-end: calc(3 / 2) * $themeSpacer;
}

.linkIcon {
  width: 20px;
  height: 20px;
}