@import "@stews/styles/layout";
@import "@stews/styles/theme";

.buttonContainer {
  @extend .columnContainer;
  width: 0;
  flex-grow: 1;
  max-width: fit-content;
  align-items: stretch;
  border-bottom: $themeBorder;
}

.selectButton {
  @extend .rowContainer;
  align-items: center;
  padding-inline: calc(1 / 2) * $themeSpacer;
}

.buttonLabel {
  @extend .textEllipsis;
  max-width: 232px;
  padding-inline-end: calc(5 / 4) * $themeSpacer;
  font-weight: 700;
  font-size: 24px;
  font-style: italic;
}

.buttonIconContainer {
  @extend .itemContainer;
}

.buttonIcon {
  width: 16px;
  height: 16px;
}

.dropdownPolygon {
  stroke: black;
  stroke-width: 0.085;
  stroke-linejoin: round;
  fill: transparent;
}

.selectMenu {
  @extend .columnContainer;
  padding-block-start: $themeSpacer;
  padding-block-end: calc(5 / 4) * $themeSpacer;
  min-width: 128px;
}

.menuList {
  @extend .columnContainer;
  max-height: 246px;
  overflow-y: scroll;  
}

.menuItem {
  @extend .rowContainer;  
  align-items: center;  
  padding-inline: $themeSpacer;
  cursor: pointer;

  &:focus {
    @extend .themeFocusWithoutOutline;

    &[keyboard-focus="true"] .itemLabel {
      @extend .themeFocusOutline;
    }
  }

  &:not(:first-child) {
    margin-top: $themeSpacer;
  }
  
  &.latestFocusedListItem {
    background-color: $themeTextBackgroundColor;
  }

  &.selectedItem {
    .itemSelectedIcon {
      visibility: visible;
    }

    .itemLabel {
      font-style: italic;
    }
  }
}

.itemSelectedIcon {
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  padding-inline-end: $themeSpacer - $themeOutlineWidth;
  visibility: hidden;
  stroke: black;
  stroke-width: 0.5;
}

.itemLabelContainer {
  @extend .rowContainer;
  padding: $themeOutlineWidth;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 1;
}

.itemLabel {
  @extend .textEllipsis;  
  font-size: 24px;
  font-weight: 700;
}

.itemActionContainer {
  padding-inline-start: 4 * $themeSpacer - $themeOutlineWidth;
}

.actionIcon {
  width: 21px;
  height: 21px;
  fill: $themeButtonTextColor;
  fill-rule: evenodd;
}

.menuFooter {
  @extend .columnContainer;
  padding-inline: $themeSpacer;
  padding-block-start: $themeSpacer;
}

.footerDivider {
  margin-bottom: $themeSpacer;
  height: 1px;
  background-color: $themeTextBackgroundColor;
}

.footerButtonContainer {
  @extend .itemContainer;
  justify-content: center;
}

.createViewButton {
  padding-inline: calc(1 / 2) * $themeSpacer;
  color: $themeButtonTextColor;
  font-size: 20px;
  font-weight: 700;
}