@import 'styles/websiteTheme.scss';

.infoButton {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.infoDisplayContainer {
  z-index: 1;
  width: 240px;
  border-style: solid;
  border-color: black;
  border-width: 1.5px;
  border-radius: $borderRadius;
  background-color: white;
  display: flex;
  flex-direction: column;  
  padding-inline-start: $spacer * 1.125;
  padding-inline-end: $spacer * 0.5625;
  padding-block-start: $spacer * 0.75;
  padding-block-end: $spacer * 0.75;
}

.socialIconContainer {
  padding-inline-end: $spacer * 1.5;
  cursor: pointer;
} 