@import "@stews/styles/layout";
@import "@stews/styles/theme";

// unable to use "position: sticky" here because
// their is/was a jitter/flicker bug when managing
// viewState.pageIndex change scrolling
//
// also we use a negative margin-top here and
// related adjustments (-4px|4px) for hiding a 
// sliver of underscroll content. -1px would 
// probably suffice 
.pageHeaderContainer {
  @extend .rowContainer;
  position: fixed;
  top: -4px;
  margin-top: 4px;
  max-width: 512px;
  width: 100%;
  padding: calc(3 / 2) * $themeSpacer;
  padding-block-start: calc(3 / 2) * $themeSpacer;
  background-color: $themeBackgroundColor;
}

.viewSelectContainer {
  @extend .itemContainer;
  justify-content: flex-start;
  flex-shrink: 1;
  flex-grow: 1;
}

.actionContainer {
  @extend .rowContainer;
  align-items: center;
  padding-inline-start: 4 * $themeSpacer;
}

// margin-top is used here to account for the 
// "position: fixed" hack in .pageHeader
.viewHeaderContainer {
  @extend .columnContainer;
  margin-top: 58px;
  padding-inline: calc(3 / 2) * $themeSpacer;
  padding-block-start: calc(1 / 2) * $themeSpacer;
  padding-block-end: calc(3 / 2) * $themeSpacer;  
}

.viewSortSelectContainer {
  @extend .rowContainer;
  flex-direction: row-reverse;
}

.viewSearchInputContainer {
  @extend .rowContainer;
  padding-top: $themeSpacer;
}

.viewPageItemsContainer {
  @extend .columnContainer;
  padding: calc(3 / 2) * $themeSpacer;
}