@import "@stews/styles/layout";
@import "@stews/styles/theme";

.pageHeader {
  @extend .rowContainer;
  z-index: 1;
  position: sticky;
  top: 0;
  padding: calc(3 / 2) * $themeSpacer;
  background-color: $themeBackgroundColor;
}

.viewSelectContainer {
  @extend .itemContainer;
  justify-content: flex-start;
  flex-shrink: 1;
  flex-grow: 1;
}

.actionContainer {
  @extend .rowContainer;
  align-items: center;
  padding-inline-start: 4 * $themeSpacer;
}

.viewHeader {
  @extend .columnContainer;
  padding-inline: calc(3 / 2) * $themeSpacer;
  padding-block-start: calc(1 / 2) * $themeSpacer;
  padding-block-end: calc(3 / 2) * $themeSpacer;
}

.viewSortSelectContainer {
  @extend .rowContainer;
  flex-direction: row-reverse;
}

.viewSearchInputContainer {
  @extend .rowContainer;
  padding-top: $themeSpacer;
}

.viewPageItems {
  @extend .columnContainer;
  padding: calc(3 / 2) * $themeSpacer;
}