@import 'styles/websiteTheme.scss';

.pageContentContainer {
  width: 100%;
  max-width: 512px;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  padding: $spacer * 3 / 2;
  padding-block-end: $spacer + $spacer;  
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.itemsFilterContainer {
  display: flex;
  flex-direction: column;
  padding: $spacer * 3 / 2;
  padding-top: 0;
}

.viewSelectContainer {
  flex-grow: 1;
  display: flex;
}

.infoButtonContainer {
  flex-shrink: 0;
  display: flex;
  align-items: flex-end;
}

.sortOrderSelectContainer {
  display: flex;
  flex-direction: row-reverse;
  padding-block-end: $spacer + $spacer / 4;
}

.musicItemsList {
  display: flex;
  flex-direction: column;
  padding-inline: $spacer / 2;
  padding-block-start: $spacer / 2;
}

.pageFooterPadding {
  padding-bottom: $spacer * 2.5;
}