@import "@stews/styles/layout";
@import "@stews/styles/theme";

.inputContainer {  
  @extend .rowContainer;
  @extend .themeBorder;
  flex-grow: 1;
  overflow: hidden;
  align-items: center;
  padding-inline: calc(1 / 2) * $themeSpacer;
  font-size: 18px;

  &:has(.searchInput:focus) {
    @extend .themeFocusOutline;
  }
}

.searchInput {
  font-size: inherit;
  font-weight: 700;
  width: 0;
  flex-grow: 1;
  padding-inline-end: calc(5 / 4) * $themeSpacer;
}