@import "@stews/styles/theme";

.popoverContainer {
  @extend .themeBorder;
  z-index: 1;  
  overflow: hidden;
  touch-action: none;
  background-color: $themeBackgroundColor;
}

.preventUnderscroll {
  -webkit-overflow-scrolling: none;
  overflow: hidden;
}