@import-normalize;
@import "@stews/styles/theme";

body {
  @extend .defaultBoxModel;
  @extend .defaultFont;
}

div {
  @extend .defaultBoxModel;
  @extend .defaultLayout;
  @extend .defaultFont;
}

button {
  @extend .defaultBoxModel;  
  @extend .defaultLayout;
  @extend .defaultFont;
  background: none;
  cursor: pointer;
  user-select: none;
}

* {
  outline: none;
}